<nav class="navbar navbar-expand-sm fixed-top">
    <a class="navbar-brand" href="/">xFaraday</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-4">
             <li class="nav-item">
                 <a class="nav-link" href="/general">General</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link " href="/writeup">Writeups</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link " href="/projects">Projects</a>
             </li>
         </ul>             
    </div>
 </nav>