.navbar{
    background:#000;
}
.nav-link , .navbar-brand{
    color: #7fffd4; 
    cursor: pointer;
    text-decoration: none !important;
}
.navbar-brand{
    font-size: 1.5em;
    margin-right: 1.5em;
    margin-left: 1em;
}
.nav-link{
    font-size: 1.5em;
    margin-right: 1em !important;
    /*text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de;*/
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.nav-link:hover{
    color: #ff0;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff;
}
.navbar-toggler{
    background:#fff !important;
}
.navlink:active{
    color: #ff0;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: #111;
}

li {
    font-size: 1em;
    margin-left: 2em;
    color: #6287f8;
}

#navitems {
    font-size: 1em;
    margin-left: 0em !important;
}

h1, h2, h3 {
    margin-left: 1em;
    color: #9fef00;
}

p {
    font-size: 1.2em;
    margin-left:2em;
    color: #a4b1cd;
}

ul {
    list-style-type: square;
}