body {
  background: #111;
  color: white;
  margin: none;
  padding: none;
  animation: turn-on 4s linear;
  animation-fill-mode: forwards;
}

@keyframes flicker {
  0% {
    opacity: 0.75638;
  }
  5% {
    opacity: 0.20094;
  }
  10% {
    opacity: 0.32011;
  }
  15% {
    opacity: 0.81631;
  }
  20% {
    opacity: 0.16762;
  }
  25% {
    opacity: 0.16984;
  }
  30% {
    opacity: 0.30712;
  }
  35% {
    opacity: 0.25827;
  }
  40% {
    opacity: 0.48318;
  }
  45% {
    opacity: 0.01934;
  }
  50% {
    opacity: 0.16423;
  }
  55% {
    opacity: 0.79789;
  }
  60% {
    opacity: 0.01126;
  }
  65% {
    opacity: 0.20884;
  }
  70% {
    opacity: 0.1813;
  }
  75% {
    opacity: 0.36646;
  }
  80% {
    opacity: 0.94245;
  }
  85% {
    opacity: 0.49836;
  }
  90% {
    opacity: 0.79672;
  }
  95% {
    opacity: 0.52318;
  }
  100% {
    opacity: 0.01009;
  }
}

#bkg {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#bkg::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
#bkg::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
 
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

.screen {
  width: 100%;
  height: 100%;
  border: none;

}

@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.overlay {
  color: #00FF00;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 60px;
  visibility: hidden;
  pointer-events: none;
}

#switch:checked ~ .container .overlay {
  animation: overlay-anim 5s linear;
  animation-fill-mode: forwards;
}

#homecard {
  margin-top: 10%;
  /*width: 40%;
  height:50%;*/
  max-width: 40%;
  max-height: 50%;
  background: #151515 url("bkg.png") 0 0;
  border-radius: 10px;

}

#bottomhomecard {
  margin-top: 2%;
  padding: 0.2%;
  /*width: 40%;
  height:50%;*/
  max-width: 40%;
  max-height: 50%;
  background: #151515 url("bkg.png") 0 0;
  border-radius: 10px;
  
  /* 
    Box Shadow format:
    color h-shadow v-shadow blur spread inset|outset
  */
  box-shadow: #00ffff 0px 0px 40px -20px inset, #ff0 0px 0px 40px -30px inset;
  
}


#profpic {
  border-radius: 50%;
  
}

#social {
  border-radius: 50%;
  /* center this element */
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .2em;
  padding-top: .3em;
}

#socialcontainer {
  
}

#rightcard {
  border-left: .5em solid rgb(127,255,212);
  border-radius: 0;
}

.card {
  background-color: rgba(0,0,0,0);
  border: none;
  margin: 1em;
}

#toptext {
  margin:none;
  padding:none;
  text-align: center;
  border-bottom: .5em solid rgb(127,255,212);
}

h1 {
  margin: none !important;
  padding: none;
  color: #87CEFA;
}

h3 {
  margin: none !important;
  padding: none;
  color: #87CEFA;
  
}

#blogintro {
  padding-bottom: .5em;
  border-bottom: .25em solid rgb(127,255,212);
}

.card-footer {
  padding: 0;
}

.list-group-item {
  border-radius: 0;
  border-top: none;
  border-left: .3em solid rgb(127,255,212);
  border-right: .3em solid rgb(127,255,212);
  border-bottom: .3em solid rgb(127,255,212);
  background-color: #151515;
  text-align: center;
  padding:1em;
}

a {
  text-decoration: none;
}

h5 {
  
}

h4 {
  color: #9fef00;
}

#student {
  color: #9fef00;
}
